.dragInputStyle {
  @apply w-1/2 border-2  border-gray-200 dark:border-gray-600 p-2 rounded mr-2 outline-none text-dark-100 bg-white dark:bg-gray-100 dark:text-white;
}

.dragLabelStyle {
  @apply text-dark-100 dark:text-white font-bold;
}

.dragParentInputStyle {
  @apply w-full flex flex-row justify-center items-center;
}

.dragButtonPrimaryStyle {
  @apply font-Quicksand font-bold !bg-blue-200 !p-5 !shadow !text-blue-500 !text-[0.90rem] !border-[2.5px] !border-blue-500;
}

.dragButtonSecondaryStyle {
  @apply font-Quicksand font-bold !bg-red-200 !p-5 !shadow !text-red-500 !text-[0.90rem] !border-[2.5px] !border-red-500;
}

.dragParentSwitchStyle {
  @apply w-full flex flex-row justify-start items-center gap-2;
}

.uploadInputStyle {
  @apply border-2 border-gray-200 dark:border-gray-600 !outline-none p-3 rounded-md text-dark-100  dark:bg-dark-100 dark:text-white;
}

.controlButtonsStyle {
  @apply absolute shadow uppercase text-dark-100 bg-white dark:bg-gray-100 dark:text-white p-2 rounded-md;
}

.detectButtonsStyle {
  @apply absolute -bottom-3 -right-3 cursor-pointer text-red-500 bg-gray-200 rounded-full shadow p-1;
}

.settingButtonsStyle {
  @apply absolute -bottom-2 -left-2 cursor-pointer text-dark-100 bg-gray-200 rounded-full shadow p-1;
}
