.employeeLabelStyle {
  @apply text-dark-100 dark:text-white text-[0.80rem] font-bold uppercase;
}

.employeeMainTagStyle {
  @apply w-full flex flex-row justify-center items-center gap-2 max-md:flex-col;
}

.detailParentStyle {
  @apply flex flex-col sm:flex-row justify-center items-start sm:items-center gap-2;
}

.detailChildStyle {
  @apply text-[0.90rem] text-dark-100 dark:text-white;
}

.parentTagStyle {
  @apply w-full h-auto flex flex-row justify-center items-center gap-2;
}

.childTagStyle {
  @apply w-1/2 h-full flex flex-col justify-start items-start;
}

.mainTagStyle {
  @apply w-full h-[3rem] font-Quicksand font-medium;
}
