.inputStyle {
  @apply w-full px-3 py-2 border border-gray-200 dark:border-gray-600 bg-white text-black dark:bg-dark-100 dark:text-white rounded-lg focus:outline-none outline-none;
}

.labelStyle {
  @apply block text-sm font-medium text-dark-100 dark:text-white mb-2;
}

.employeeLabelStyle {
  @apply text-dark-100 dark:text-white text-[0.80rem] font-bold uppercase;
}

.employeeMainTagStyle {
  @apply w-full flex flex-row justify-center items-center gap-2 max-md:flex-col;
}
