.inputStyle {
  @apply w-full px-3 py-2 border border-gray-200 dark:border-gray-600 bg-white text-black dark:bg-dark-100 dark:text-white rounded-lg focus:outline-none outline-none;
}

.labelStyle {
  @apply block text-sm font-medium text-dark-100 dark:text-white mb-2;
}

.deviceInputStyle {
  @apply w-full px-4 py-3 bg-gray-50 dark:bg-gray-100 border-2 border-gray-50 dark:border-gray-100 rounded-xl text-gray-900 dark:text-white transition-all duration-200 !outline-none;
}

.deviceLabelStyle {
  @apply block text-sm font-semibold text-dark-100 dark:text-white mb-2;
}
