.react-joyride__beacon > span[style*="joyride-beacon-inner"] {
  background-color: #ff0000 !important;
}

.react-joyride__beacon > span[style*="joyride-beacon-outer"] {
  background-color: rgba(255, 0, 0, 0.2) !important;
  border-color: #ff0000 !important;
}

.react-joyride__tooltip {
  background-color: white !important;
  color: black !important;
}

.dark .react-joyride__tooltip {
  background-color: black !important;
  color: white !important;
}

button[data-test-id="button-close"] {
  display: none !important;
}
