@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Quicksand";
    font-weight: 400;
    src:
      url("/assets/font/Outfit-Regular.ttf") format("truetype"),
      url("/assets/font/Outfit-Regular.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Quicksand";
    font-weight: 600;
    src:
      url("/assets/font/Outfit-SemiBold.ttf") format("truetype"),
      url("/assets/font/Outfit-SemiBold.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "IRANSans";
    font-weight: 400;
    src:
      url("/public/assets/font/IRANSansXFaNum-Regular.woff") format("woff"),
      url("/public/assets/font/IRANSansXFaNum-Regular.woff2") format("woff2");
    font-display: swap;
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", serif;
}

.hamburger-react > div:nth-child(odd) {
  background-color: #6ec5d6 !important;
}

.hamburger-react > div:nth-child(even) {
  background-color: #6d6caa !important;
}

::-webkit-scrollbar {
  display: none;
}

/* for DatePicker in addUserModal */
:where(.css-dev-only-do-not-override-161f05s).ant-picker-outlined:hover {
  border-color: #e5e7eb !important;
  box-shadow: none !important;
}

:where(.css-dev-only-do-not-override-161f05s).ant-picker-outlined:focus,
:where(.css-dev-only-do-not-override-161f05s).ant-picker-outlined:focus-within {
  border-color: #e5e7eb !important;
  box-shadow: none !important;
}

.ant-picker input::placeholder {
  color: #9ca3af !important;
}
